.container {
  display: grid;
  height: 700px;
  border: 1px solid violet;

  grid-template-columns: [first] 200px repeat(32, [frame] 1fr);
  grid-template-rows: repeat(32, 1fr) [second] 20vh;
}

.item {
  background: hotpink;
}


.item-1 {
  grid-column: first / frame 2;

  grid-row: 2 / 5; 

}

.item-2 {
  grid-column: 32 / -1;
  grid-row: -second / second;
}

.container-2 {
  display: grid;
  height: 700px;
  border: 1px solid violet;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.item-a {
  background: blue;
  grid-area: header;
}
.item-b {
  grid-area: main;
  background: yellow;
}
.item-c {
  background: grey;
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
  background: greenyellow;
}